@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
body {
  margin-left: 80px;
  margin-right: 100x;
  margin-top: 20px;
}
/* Estilos base para el header */
.header {
  width: 100%;
  height: 80px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 4;
  z-index: 1;
  transition: height 0.3s;
  margin-right: 50px;
  /* Ajusta el valor del margen derecho según tu preferencia */
}
/*Main****/
main {
  width: 100%;
  margin-top: 40px;
  padding: 20px;
  margin-bottom: -80px;
}
/* Imagen estilos */
.imagen-1 {
  max-width: 34%;
  height: auto;
  margin-left: -9px;
  margin-right: 20px;
  margin-bottom: auto;
  margin-top: 100px;
  float: left;
}
.my-image1:hover {
  margin-left: 0;
}
/* Responsive styles */
.contenido-1 {
  display: flex;
  flex-direction: column;
}
.imagen-1 {
  margin-top: 10px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .contenido-1 {
    flex-direction: row;
  }
  .texto {
    margin-right: 10px;
  }
  .imagen-1 {
    margin-top: 0;
    max-width: 40%;
  }
}
.text {
  flex-grow: 1;
}
/* Card styles */
.flex-container {
  display: flex;
  align-items: center;
}
.my-image1 {
  width: 200px;
  height: auto;
  margin-right: 10px;
}
.text {
  flex-grow: 1;
}
.card {
  border-radius: 20px;
  padding: 20px;
  width: rem;
  border: 1px solid #893131;
  box-shadow: 2px 2px 6px #c30f0f;
  margin: 20px 10px;
}
/* Styles for the second image */
.my-image2 {
  width: 200px;
  height: auto;
  margin-right: 10px;
}
/* Contact section styles */
.contacto {
  margin-bottom: 20px;
}
.direccion {
  color: #000;
}
.telefono {
  color: #000;
}
.correo {
  color: #000;
}
.derechos {
  color: #000;
  font-weight: bold;
}
/* Styles for links */
.enlace {
  color: black;
}
/* Form styles for messages */
section {
  margin: 40px 0 80px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}
.contact-form label {
  margin-bottom: 5px;
}
.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
/* Estilos para el formulario de contacto */
.contact-form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: #45a049;
}
/* Estilos para el contenedor principal */
.container {
  display: flex;
}
/* Estilos para el contenedor de contacto */
.contact-container {
  flex: 0 0 300px;
  margin-right: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}
.contact-container h2 {
  margin-bottom: 10px;
  text-align: center;
}
.contact-container .contact-form {
  margin-top: 20px;
}
/* Estilos para el contenedor del mapa */
.map-container {
  flex: 1;
  border: 1px solid #ccc;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}
.map-container img {
  max-width: 100%;
  max-height: 100%;
}
/* mejora a 320 px el responsive del are de contactos*/
@media (max-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-container,
  .map-container {
    width: 280px;
    height: 420px;
    margin-bottom: 20px;
    /* Cambiado de 90px a 20px */
  }
}
/* Barra lateral */
.menu__side {
  width: 80px;
  height: 100%;
  background: #00425a;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 20px solid #00425a;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/* Hide scrollbar for Chrome, Safari, and Opera */
.menu__side::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge, and Firefox */
.menu__side {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Styles for the page name in the sidebar */
.name__page {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.name__page i {
  width: 20px;
  margin-right: 20px;
}
/* Styles for the menu options in the sidebar */
.options__menu {
  padding: 20px 30px;
  position: absolute;
  top: 80px;
}
.options__menu a {
  color: #ffffffb2;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
}
.options__menu a:hover {
  color: white;
}
.options__menu .option {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}
.options__menu .option i {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.options__menu .option h4 {
  font-weight: 300;
  cursor: pointer;
}
a.selected {
  color: #fff;
}
.selected:before {
  content: "";
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: -30px;
}
/* Permite mover la barra*/
.body_move {
  margin-left: 250px;
}
.menu__side_move {
  width: 250px;
  background-image: repeating-linear-gradient(135deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(45deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(67.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(135deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(45deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(112.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(112.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(45deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(22.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(45deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(22.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(135deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(157.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(67.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    repeating-linear-gradient(67.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px),
    linear-gradient(90deg, rgb(21, 4, 29), rgb(57, 199, 205));
}
@media screen and (max-width: 760px) {
  /* Tablets */
  .body_move {
    margin-left: 0px;
  }
  .menu__side_move {
    width: 80px;
    left: -80px;
  }
}
/* Estilos de Footer*/
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fc7300;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  z-index: 999;
  margin-left: auto;
  margin-right: 0;
}
/* Estilos para el grid container del footer */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
  margin: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
/* Ajustamos el tamaño de los items para que sean cuadrados */
.item {
  border: 1px solid #e8ebe8;
  padding: 20px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.item img {
  max-width: 100%;
  height: auto;
}
/* Cambiar a columnas verticales en dispositivos más pequeños */
@media (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: calc(100% - 40px);
    /* Resta 20px del ancho total para el margen derecho */
    margin-right: 20px;
    /* Agrega un margen derecho de 20px */
  }
}
/*/
/* Media query para pantalla con un ancho de 320px */
@media (max-width: 320px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Alinea el texto al centro */
  }
  .my-image2 {
    margin-bottom: 10px;
    /* Añade un margen inferior para separar la imagen del texto */
  }
  .text {
    padding: 10px;
    /* Agrega un espacio alrededor del texto para mayor claridad */
  }
}
@media (max-width: 400px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Alinea el texto al centro */
  }
  .my-image2 {
    margin-bottom: 10px;
    /* Añade un margen inferior para separar la imagen del texto */
  }
  .text {
    padding: 10px;
    /* Agrega un espacio alrededor del texto para mayor claridad */
  }
}
/*Flecha arriba*/
/* Scroll to top button */
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: none;
  background-color: #1f8a70;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 999;
}
#scroll-to-top.show {
  display: block;
}
.hidden {
  display: none;
}
/* para el footer*/
@media screen and (max-width: 320px) {
  body {
    position: relative;
  }
  main {
    margin-top: 38px;
    margin-bottom: -80px;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-image: radial-gradient(circle at 71% 88%,
        rgba(152, 152, 152, 0.04) 0%,
        rgba(152, 152, 152, 0.04) 50%,
        rgba(54, 54, 54, 0.04) 50%,
        rgba(54, 54, 54, 0.04) 100%),
      radial-gradient(circle at 2% 84%,
        rgba(224, 224, 224, 0.04) 0%,
        rgba(224, 224, 224, 0.04) 50%,
        rgba(146, 146, 146, 0.04) 50%,
        rgba(146, 146, 146, 0.04) 100%),
      radial-gradient(circle at 99% 46%,
        rgba(173, 173, 173, 0.04) 0%,
        rgba(173, 173, 173, 0.04) 50%,
        rgba(8, 8, 8, 0.04) 50%,
        rgba(8, 8, 8, 0.04) 100%),
      linear-gradient(133deg, rgb(7, 56, 61), rgb(48, 240, 242));
    color: #fff;
    font-size: 14px;
    z-index: 999;
  }
}
.fondoheader {
  background-image: linear-gradient(352deg,
      rgb(8, 38, 17) 0%,
      rgb(8, 38, 17) 14.286%,
      rgb(1, 57, 17) 14.286%,
      rgb(1, 57, 17) 28.572%,
      rgb(17, 91, 36) 28.572%,
      rgb(17, 91, 36) 42.858%,
      rgb(22, 117, 46) 42.858%,
      rgb(22, 117, 46) 57.144%,
      rgb(26, 143, 56) 57.144%,
      rgb(26, 143, 56) 71.43%,
      rgb(31, 170, 65) 71.43%,
      rgb(31, 170, 65) 85.716%,
      rgb(35, 196, 75) 85.716%,
      rgb(35, 196, 75) 100.002%);
}
.fondobody {
  background-image: linear-gradient(158deg,
      rgba(84, 84, 84, 0.03) 0%,
      rgba(84, 84, 84, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 100%),
    linear-gradient(45deg,
      rgba(221, 221, 221, 0.02) 0%,
      rgba(221, 221, 221, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 71.42999999999999%,
      rgba(239, 239, 239, 0.02) 71.43%,
      rgba(239, 239, 239, 0.02) 85.71600000000001%,
      rgba(187, 187, 187, 0.02) 85.716%,
      rgba(187, 187, 187, 0.02) 100.002%),
    linear-gradient(109deg,
      rgba(33, 33, 33, 0.03) 0%,
      rgba(33, 33, 33, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 100%),
    linear-gradient(348deg,
      rgba(42, 42, 42, 0.02) 0%,
      rgba(42, 42, 42, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 100%),
    linear-gradient(120deg,
      rgba(106, 106, 106, 0.03) 0%,
      rgba(106, 106, 106, 0.03) 14.286%,
      rgba(67, 67, 67, 0.03) 14.286%,
      rgba(67, 67, 67, 0.03) 28.572%,
      rgba(134, 134, 134, 0.03) 28.572%,
      rgba(134, 134, 134, 0.03) 42.858%,
      rgba(19, 19, 19, 0.03) 42.858%,
      rgba(19, 19, 19, 0.03) 57.144%,
      rgba(101, 101, 101, 0.03) 57.144%,
      rgba(101, 101, 101, 0.03) 71.42999999999999%,
      rgba(205, 205, 205, 0.03) 71.43%,
      rgba(205, 205, 205, 0.03) 85.71600000000001%,
      rgba(53, 53, 53, 0.03) 85.716%,
      rgba(53, 53, 53, 0.03) 100.002%),
    linear-gradient(45deg,
      rgba(214, 214, 214, 0.03) 0%,
      rgba(214, 214, 214, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 50.001000000000005%,
      rgba(231, 231, 231, 0.03) 50.001%,
      rgba(231, 231, 231, 0.03) 66.668%,
      rgba(241, 241, 241, 0.03) 66.668%,
      rgba(241, 241, 241, 0.03) 83.33500000000001%,
      rgba(31, 31, 31, 0.03) 83.335%,
      rgba(31, 31, 31, 0.03) 100.002%),
    linear-gradient(59deg,
      rgba(224, 224, 224, 0.03) 0%,
      rgba(224, 224, 224, 0.03) 12.5%,
      rgba(97, 97, 97, 0.03) 12.5%,
      rgba(97, 97, 97, 0.03) 25%,
      rgba(143, 143, 143, 0.03) 25%,
      rgba(143, 143, 143, 0.03) 37.5%,
      rgba(110, 110, 110, 0.03) 37.5%,
      rgba(110, 110, 110, 0.03) 50%,
      rgba(34, 34, 34, 0.03) 50%,
      rgba(34, 34, 34, 0.03) 62.5%,
      rgba(155, 155, 155, 0.03) 62.5%,
      rgba(155, 155, 155, 0.03) 75%,
      rgba(249, 249, 249, 0.03) 75%,
      rgba(249, 249, 249, 0.03) 87.5%,
      rgba(179, 179, 179, 0.03) 87.5%,
      rgba(179, 179, 179, 0.03) 100%),
    linear-gradient(241deg,
      rgba(58, 58, 58, 0.02) 0%,
      rgba(58, 58, 58, 0.02) 25%,
      rgba(124, 124, 124, 0.02) 25%,
      rgba(124, 124, 124, 0.02) 50%,
      rgba(254, 254, 254, 0.02) 50%,
      rgba(254, 254, 254, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 100%),
    linear-gradient(90deg, #ffffff, #ffffff);
}
/* para que las imagenes de los flex box no pierdan responsive*/
@media (max-width: 320px) {
  .my-image2 {
    width: 100%;
    /* Ajustar el ancho al 100% */
    max-width: 100%;
    /* Establecer el ancho máximo al 100% */
  }
  .my-image1 {
    width: 100%;
    /* Ajustar el ancho al 100% */
    max-width: 100%;
    /* Establecer el ancho máximo al 100% */
  }
}



 

/* Font Icon */
#btn_open{
  width:55px;
  position:relative;
  left:31px;
  cursor: pointer; /* Agrega esta línea para cambiar el cursor a una manita */

 }
 
 @media (max-width:320px){

  /* Link */
  .header p a{
   position:relative;
   left:-3px;
   color:#dddde2;
   font-size:29px;
   text-align:left;
   text-shadow:rgb(255, 0, 0) -1px 0px 0px, rgb(0, 255, 255) 1px 0px 0px;
  }
  
 }

 /* Link */
.header p a{
  color:#f9f9fa;
 }
 
 @media (min-width:321px){
 
  /* Link */
  .header p a{
   font-size:42px;
  }
  
 }